# Linux Os Type Family ( use lowercase names like 'debian' or 'ubuntu' )
linux_os_type="ubuntu"
# ubuntu version and iso variables
debian_version="25.10"
debian_codename="noble"
debian_arch="amd64"
type="desktop"
debian_iso_name="ubuntu-${debian_version}-${type}-${debian_arch}.iso"
iso_url="https://releases.ubuntu.com/${debian_version}/${debian_iso_name}"
# iso_checksum="https://cdimage.ubuntu.org/cdimage/archive/${debian_version}/${debian_arch}/iso-dvd/SHA512SUMS"
iso_volume_name="ubuntu-desktop ${debian_version} ${debian_arch}"

# ## File names (directories are hardcoded in script for Docker compatibility)
# # config file name - this file
config_file="ubuntu-${debian_version}-${type}.cfg"
# config_file_templates_dir="templates"
# # preseed file names ( Debian )
# preseed_template="${config_file_templates_dir}/autoinstall_ubuntu-${debian_version}-${type}-template.yml"
preseed_template="autoinstall_ubuntu-${debian_version}-${type}-template.yml"
preseed_file="autoinstall_ubuntu-${debian_version}-${type}.yml"
# # Autoinstall files ( Ubuntu ) replaces preseed_file.
# user_data_template="${config_file_templates_dir}/autoinstall_ubuntu-${debian_version}-${type}-template.yml"
user_data_template="autoinstall_ubuntu-${debian_version}-${type}-template.yml"
user_data_file="autoinstall_ubuntu-${debian_version}-${type}.yml"
meta_data_file="meta-data"

# ## isolinux customization variables
isolinux_auto=true
isolinux_priority=critical
debian_installer_language=en_US
debian_installer_country=FR
debconf_frontend=noninteractive
console_setup_ask_detect=false

# Custom ISO output name
custom_iso_version="0.0.3.1"
custom_iso_comment="baremetal"
custom_iso_name="ubuntu-${debian_version}-${type}-${debian_arch}-${custom_iso_comment}-${custom_iso_version}.iso"
